.container {
  display: grid;
  grid-template-columns: 50px 1fr 75px;
}

.item-1 {
  background-color: aqua;
}

.item-2 {
  background-color: antiquewhite;
}

.item-3 {
  background-color: aqua;
}